<h1>Add a movie to your list - <%= @list.name %></h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :movie_id, collection: @movies, label: 'Select a Movie  ', prompt: 'Choose a movie' %>
  <br>
  <%= f.input :comment %>
  <br>
  <%= f.submit 'Add Movie  ', class: 'btn btn-primary' %>
<% end %>
